.header {
    background-color: rgb(183, 183, 183);
    position: sticky;
    top: 0;
    z-index: 1;
    transition: box-shadow 0.3s;
    margin-left: 20px;  
  }
  
  .scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .scrollArea {
    overflow: auto;
  }
  
  .table {
    min-width: 700px;
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 
      3px 3px 5px #505da7;
  }
  
  .table th {
    background-color: #3b2df9;
    font-weight: bold;
    
  }
  
  .table tbody tr:hover {
    background-color: #2d09f9;
  }
  