.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    color: #01448D;
    width: 100%;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push the profile to the right */
  }


  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  } 


  